<h1>Search GitHub Repositories</h1>

<%= form_with url: '/repos/search', method: :get, local: true do |form| %>
  <%= form.text_field :query, placeholder: "Enter search term...", value: params[:query] %>
  <%= form.submit "Search" %>
<% end %>

<% if @repos %>
  <ul>
    <% @repos.each do |repo| %>
      <li>
        <a href="<%= repo[:html_url] %>" target="_blank">
          <%= repo[:full_name] %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>